<%= simple_form_for(@alarm_history) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :arduino_id %>
    <%= f.input :parameter %>
    <%= f.input :sign %>
    <%= f.input :alarm_value %>
    <%= f.input :actual_value %>
    <%= f.input :message_sent %>
    <%= f.input :sent_to_email %>
    <%= f.input :email_sent %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
