<h1>Listing user_equipments</h1>

<table>
  <tr>
    <th>Reef tank</th>
    <th>Reef tank arduino</th>
    <th>Description</th>
    <th>Equipment name</th>
    <th>Image</th>
    <th>Equipment type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @user_equipments.each do |user_equipment| %>
  <tr>
    <td><%= user_equipment.reef_tank_id %></td>
    <td><%= user_equipment.reef_tank_arduino_id %></td>
    <td><%= user_equipment.description %></td>
    <td><%= user_equipment.equipment_name %></td>
    <td><%= user_equipment.image %></td>
    <td><%= user_equipment.equipment_type %></td>
    <td><%= link_to 'Show', user_equipment %></td>
    <td><%= link_to 'Edit', edit_user_equipment_path(user_equipment) %></td>
    <td><%= link_to 'Destroy', user_equipment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User equipment', new_user_equipment_path %>
