<% @watchers = @reef_tank.watchers.order("created_at").paginate(page: params[:page], :per_page => 3) %>
 <% @current_status = @reef_tank.watchers.order("created_at").first %>


<% @items = @reef_tank.pictures.all %>

 

<div class="page-header">
  <h4>Featured Tank:</h4><h3> <%= @reef_tank.tank_name %> </h3>

	 <div class="fancy-date">
		Last Updated:
		<%= status_last_updated(@current_status)  %>	
	 </div>
</div>	

	 <%= render :partial => 'carousel' , :picture => @items %>





<br>

     <!-- Example row of columns -->
     <div class="row-fluid">
       <div class="span4">
         <h2>Temperature:</h2>
         <p>  
	     <table class="table table-striped"> <tbody> <tr> 
		<td>Temp</td>
		 <td> <%= status_temp(@current_status) %> </td>
  
   </tr> <tr> <td>Last Updated</td> <td> <%= status_last_updated(@current_status) %>
  
   </td> </tr>
  
   <tr> <td>Heater</td> <td> <%= status_heater(@current_status) %></td>
  
   </tr>
  
   </tbody> </table>
	
	</p>
        
       </div>
       <div class="span4">
         <h2>Pump Status:</h2>
         <p> 
			<table class="table table-striped">
			  <tbody>
			    <tr>
					<td>PowerHead</td>
				  		<td>	
						<%= status_powerhead(@current_status)  %>
						</td></tr>
					<tr>
						<td>Pump</td>
					   		<td>
						    <%= status_mainpump(@current_status)  %>
						    </td>
					     </tr>
						<tr>
						<td>Skimmer</td>
						<td>
						<%= status_skimmer(@current_status)  %>
						</td>
						</tr>
	    
	  </tbody>
	</table>
	
	 </p>
        
      </div>
       <div class="span4">
         <h2>Water Level:</h2>
         <p>	<table class="table table-striped">
			  <tbody>
			    <tr>
					<td>Water Level</td>
				      <td><%= status_waterlevelokay(@current_status)%></td>
				     </tr>
					<tr>
						<td>ATO Pump</td>
					   	<td>
						 <%= status_atopump(@current_status)  %>
						 </td>
					     </tr>

	  </tbody>
	</table></p>
     
       </div>
     </div>
<table class="table table-striped">
	<caption><h5>Recent Received Data:</h5></caption>
  <thead>
    <tr> 
      <th>Tank Temp</th>
 
      <th>House Temp</th>

      <th>Powerhead</th>
      <th>Main Pump</th>
      <th>Heater</th>
       <th>ATO Pump</th>
      <th>Water Level</th>
      <th>Received</th>
  
    </tr>
  </thead>


  <tbody>
    <% @watchers.each do |watcher| %>
  
      <tr>
	 
        <td><%= status_temp(watcher)  %></td>
	     <td><%= status_ambeint_temp(watcher)  %></td>
	     <td>	
		<%= status_powerhead(watcher)  %>
		</td>
		<td>
	    <%= status_mainpump(watcher)  %>
	    </td>
		<td>
		 <%= status_heater(watcher)  %>
		 </td>

		<td>
		 <%= status_atopump(watcher)  %>
		 </td>

		<td>
		 <%= status_waterlevelokay(watcher)  %>
		 </td>   

		<td> <%= status_last_updated(watcher)  %> </td>

     
      </tr>
    <% end %>
  </tbody>
</table>



 <%= will_paginate @watchers %>

        
