<%= simple_form_for @demo, :html => { :class => 'form-horizontal' } do |f| %>

<p>Select User's Tank:</p>

	<%= f.input :feature_user, :label=>"featured user:", :hint=>"User to be Display", :wrapper => :append do %>
	 <%= f.collection_select(:feature_user, ReefTank.all , :id, :id) %><span class="add-on"><i class="icon-calendar"></i></span>
	<% end %>




  <%= f.input :starting_page %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                demos_path, :class => 'btn' %>
  </div>
<% end %>
