<% @watchers = @reef_tank.watchers.order("created_at").paginate(page: params[:page], :per_page => 5) %>
 
<div class="page-header">
  <h3>Real Time Data History: </h3>
</div>	
<table class="table table-striped">
  <thead>
    <tr> <th>Code:</th>
      <th>ID</th>
      <th>Name</th>
 
      <th>House</th>

      <th>Powerhead</th>
      <th>Main Pump</th>
      <th>Heater</th>
	   <th>ATO Pump</th>
      <th>Water Level</th>
<th>Refuge Light</th>
     <th>Received</th>
      
    </tr>
  </thead>


  <tbody>
    <% @watchers.each do |watcher| %>
  
      <tr>
         <td><%= status_alarm_code(watcher)  %></td>
		
        <td><%= link_to watcher.id, watcher_path(watcher) %></td>
     <td><%= status_temp(watcher)  %></td>
     <td><%= status_ambeint_temp(watcher)  %></td>
     <td>	
	<%= status_powerhead(watcher)  %>
	</td>
	<td>
    <%= status_mainpump(watcher)  %>
    </td>
	<td>
	 <%= status_heater(watcher)  %>
	 </td>
	
	<td>
	 <%= status_atopump(watcher)  %>
	 </td>
 
	<td>
	 <%= status_waterlevelokay(watcher)  %>
	 </td>   
		
		refuge_light
		
		<td>
		 <%= status_refuge_light(watcher)  %>
		 </td>
		<td> <%= status_last_updated(watcher)  %> </td>

       
      </tr>
    <% end %>
  </tbody>
</table>



 <%= will_paginate @watchers %>

        
