<%- model_class = ReefTank -%>
<div class="page-header">
  <h1>Chris' Rimless 30g Cube </h1>
</div>


  

<dl class="dl-horizontal">
  <dt><strong>User:</strong></dt>
  <dd><%= @reef_tank.user_id %></dd>
  <dt><strong>Setup tank:</strong></dt>
  <dd><%= time_ago_in_words(@reef_tank.setup_date)%> ago</dd>
  <dt><strong>Receieve Email:</strong></dt>
  <dd><%= @reef_tank.send_email_okay %></dd>
  <dt><strong>Arduino Unique Code:</strong></dt>
  <dd><%= @reef_tank.reef_tank_arduino_id %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_reef_tank_path(@reef_tank), :class => 'btn' %>
</div>
