<% @watchers = @reef_tank.watchers.order("created_at").paginate(page: params[:page], :per_page => 5) %>
 
<div class="page-header">
  <h3>Real Time Data History: </h3>
</div>	
<table class="table table-striped">
  <thead>
    <tr> <th>Code:</th>
      <th>ID</th>
      <th>Name</th>
 
      <th>House</th>

      <th>Powerhead</th>
      <th>Main Pump</th>
      <th>Heater</th>

      <th>Received</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>


  <tbody>
    <% @watchers.each do |watcher| %>
  
      <tr>
	  	<td><% for update_code in watcher.update_codes %>
				<% if watcher.updated_reason == update_code.reef_tank_id %>
						   <%= update_code.message %>

							<%end%>

		  <% end %>

		</td>
      
        <td><%= link_to watcher.id, watcher_path(watcher) %></td>
      
        <td><%= number_with_precision(watcher.temp, :precision => 1)   %>°f</td>
        <td><%= number_with_precision(watcher.ambeint_temp, :precision => 1)   %>°f</td>
	
        <td>	
		 <% if watcher.powerhead  == true %>
				   
			 <span class="label label-success">ON</span>
					<%else%>	
					<span class="label label-warning">OFF</span>
					<%end%>
		</td></td>
		<td>

		 <% if watcher.main_pump  == true %>
		   	 <span class="label label-success">ON</span>
				<%else%>	
				<span class="label label-warning">OFF</span>
			<%end%>
</td>
	<td>

	 <% if watcher.heater  == true %>
		 <span class="label label-success">ON</span>
			<%else%>	
			<span class="label label-warning">OFF</span>
		<%end%>
</td>
		     <td> <%= time_ago_in_words(watcher.created_at) %> ago </td>
		        

        <td>
			
    
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      watcher_path(watcher),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>



 <%= will_paginate @watchers %>

        
