<%- model_class = ReefTank -%>

<!-- Jumbotron -->
     <div class="jumbotron">
       <h1>Reef Sense</h1>
       <p class="lead">Real Time Data, Alarm Notification and continually real time monitoring </p>
       <a class="btn btn-large btn-success" href="#">Check out the Real Time Data</a>
     </div>

     <hr>
<% @current_status = @reef_tank.watchers.order("created_at").first %>


     <!-- Example row of columns -->
     <div class="row-fluid">
       <div class="span4">
         <h2>Temperature</h2>
         <p>  
	
	
	
			<table class="table table-striped">
			  <tbody>
			    <tr>
					<td>Temp</td>
				      <td>
					
					<%= status_temp(@current_status)  %>

								</td>

				     </tr>
				
				
					
						 <tr>
								<td>Heater</td>
							      <td>
						<%= status_heater(@current_status)  %></td>

							     </tr>
									<tr>
										<td>Last Updated</td>
									      <td>
											<%= status_last_updated(@current_status)  %> </td>
									     </tr>

	  </tbody>
	</table>
	
	</p>
         <p><%= link_to t('.View details', :default => t("helpers.links.View details")),
		              reef_tanks_setting_path, :class => 'btn'  %></p>
       </div>
       <div class="span4">
         <h2>Pump Status</h2>
         <p> 
			<table class="table table-striped">
			  <tbody>
			    <tr>
					<td>PowerHead</td>
				  		<td>	
						<%= status_powerhead(@current_status)  %>
						</td></tr>
					<tr>
						<td>Pump</td>
					   		<td>
						    <%= status_mainpump(@current_status)  %>
						    </td>
					     </tr>
						<tr>
						<td>Skimmer</td>
						<td>
						<%= status_skimmer(@current_status)  %>
						</td>
						</tr>
	    
	  </tbody>
	</table>
	
	 </p>
         <p> 
	
		  <%= link_to t('.View details', :default => t("helpers.links.View details")),
		              reef_tanks_setting_path, :class => 'btn'  %>
	</p>
      </div>
       <div class="span4">
         <h2>Water Level</h2>
         <p>	<table class="table table-striped">
			  <tbody>
			    <tr>
					<td>Water Level</td>
				      <td><%= status_waterlevelokay(@current_status)%></td>
				     </tr>
					<tr>
						<td>ATO Pump</td>
					   	<td>
						 <%= status_atopump(@current_status)  %>
						 </td>
					     </tr>
					
					
							<td>Refuge Light</td>
						   	<td>
								<%= status_refuge_light(@current_status)  %>
								 </td>
						     </tr>
						
			

	  </tbody>
	</table></p>
         <p><%= link_to t('.View details', :default => t("helpers.links.View details")),
		              reef_tanks_setting_path, :class => 'btn'  %></p>
       </div>
     </div>

  

 