<%= simple_form_for @picture do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
	 

<p>File:  





</p>
    <%= f.input :name %>

	<%= f.hidden_field :key %>
	

	<%= f.hidden_field :reef_tank_id %>
	
  
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>


<%= debug @reef_tank if Rails.env.development? %>

<%= debug @picture if Rails.env.development? %>
<%= debug @pictures if Rails.env.development? %>

  
<%= debug @reef_tank if Rails.env.development? %>

<%= debug (params) if Rails.env.development? %>