<%= simple_form_for @picture do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
	 

<p>File: <%= @picture.image_name %></p>
    <%= f.input :name %>
  
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>


<%= debug @reef_tank if Rails.env.development? %>

<%= debug @picture if Rails.env.development? %>
<%= debug @pictures if Rails.env.development? %>

  
<%= debug @reef_tank if Rails.env.development? %>

<%= debug (params) if Rails.env.development? %>