<p id="notice"><%= notice %></p>

<p>
  <b>Reef tank:</b>
  <%= @watcher.reef_tank_id %>
</p>

<p>
  <b>Params:</b>
  <%= @watcher.params %>
</p>

<p>
  <b>Updated reason:</b>
  <%= @watcher.updated_reason %>
</p>

<p>
  <b>Reef tank arduino:</b>
  <%= @watcher.reef_tank_arduino_id %>
</p>

<p>
  <b>Main light:</b>
  <%= @watcher.main_light %>
</p>

<p>
  <b>Ato pump:</b>
  <%= @watcher.ato_pump %>
</p>

<p>
  <b>Chiller:</b>
  <%= @watcher.chiller %>
</p>

<p>
  <b>Refuge light:</b>
  <%= @watcher.refuge_light %>
</p>

<p>
  <b>Skimmer:</b>
  <%= @watcher.skimmer %>
</p>

<p>
  <b>Main pump:</b>
  <%= @watcher.main_pump %>
</p>

<p>
  <b>Heater:</b>
  <%= @watcher.heater %>
</p>

<p>
  <b>Powerhead:</b>
  <%= @watcher.powerhead %>
</p>

<p>
  <b>Temp:</b>
  <%= @watcher.temp %>
</p>

<p>
  <b>Ambeint temp:</b>
  <%= @watcher.ambeint_temp %>
</p>

<p>
  <b>Ph level:</b>
  <%= @watcher.ph_level %>
</p>


<%= link_to 'Edit', edit_watcher_path(@watcher) %> |
<%= link_to 'Back', watchers_path %>
