<%= simple_form_for @maintainence_log, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :reef_tank_id %>
  <%= f.input :description %>
  <%= f.input :amount %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                maintainence_logs_path, :class => 'btn' %>
  </div>
<% end %>
